<!DOCTYPE html>
{% extends "baseinner.html" %}
{% load crispy_forms_tags %}
{% block body_block %}
<legend class="border-bottom mb-4"><h1>ADD ITEM</h1></legend>
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Save</button>
          </div>
      </form>
  </div>
{% endblock %}
